@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

*{
    margin: 0;
    padding: 0;
    gap: 0;
}

header{
    background-color: gray;
    position: sticky;
    width: 100%;
    top: 0;
}   

footer{
    background-color: gray;
}

body{
    background-color: rgb(210, 213, 219);
}


h1{
    margin: 22px;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.navegacao{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 20px;
    gap: 26px;
}

.lirodape{
    list-style: none;
    margin-right: 5%;
    margin-left: 5%;
    padding: 12px;
    size: 12px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}


.p_padrao{
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
    padding: ;
    font-size: x-large;
    font-family: "Delius", cursive;
}

.loucura{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color:rgb(143, 86, 135);
}

.teste{
    display: flex;
    align-items: center;
    justify-content: center;
}

#liwhite{
    color: white;
}

#git{
    color: black;
}

#zap{
    color: darkgreen;
}

#linkedin{
    color: blue;
}